<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Produtos</title>
		</head>
	<body>

		<h1>Produtos</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Descricao</td>
				<td>Preco</td>
			</tr>

			<% for(var i=0; i < produtos.length; i++) { %>
				<tr>
					<td><%= produtos[i].id %></td>
					<td><%= produtos[i].nome %></td>
					<td><%= produtos[i].descricao %></td>
					<td><%= produtos[i].valor %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>